<div class="card">
  <div class="card-header my-2">
    <ng-container *ngIf="details; else link">
      {{product.name}}
    </ng-container>
    <ng-template #link>
      <a [routerLink]="product.id">{{product.name}}</a>
    </ng-template>
  </div>
  <img [attr.src]="product.image" [attr.alt]="product.name" class="card" width="500" height="500">
  <div class="card-body" *ngIf="details">
    <p class="my-2">{{product.description}}</p>
  </div>
  <div class="card-footer">
    <h4 class="text-right my-2">{{product.price}}</h4>
  </div>
</div>
